/* 모바일 */
* 
{
    margin: 0;
    padding: 0;
}
html, body
{
    font-family: "Noto Sans KR",Verdana,AppleGothic,sans-serif;
    font-size: 12px;
}
a
{
    color: #2e2e2e;
}
.wrap
{
    display: none;
}
.nav-top
{
    display: none;
    width: 100%;
    min-width: none;
    height: 44px;
    border-bottom: 1px solid #C3C3C3;
    background-color: #333333;
}
.nav-top-mobile
{
    display: block !important;
    width: 100%;
    min-width: unset !important;
    height: 50px;
    border-bottom: 1px solid #eee;
    background-color: #333333;
}
.nav-top-mobile .nav-wrap
{
    position: relative;
    height: 100%;
    text-align: center;
    padding: 0 49px;
}
.nav-title
{
    display: none;
}
.nav-title-mobile
{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 49px;
    text-decoration: none;
    color: white;
}
.bi-chevron-left
{
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    line-height: 37px;
    font-size: 18px;
    color: #FFF;
    float: left;
}
.form-check-label
{
    float: right;
}
.form-check-input
{
    width: 18px;
    height: 18px;
    float: right !important;
    margin-left: 4px !important;
    margin-top: 0 !important;
}
.form-login
{
    width: 100%;
    height: 100%;
    position: unset;
    margin: 0;
    margin-top: 0;
    border: 0;
    text-align: center;
}
.content-login
{
    height: 100%;
    margin-top: 30px;
}
.login-left
{
    padding: 0 !important;
}
.login-right
{
    display: none;
}
.login-text
{
    display: none;
}
.login-left .form-control
{
    margin: 0 auto;
}
.login-left .mb-3
{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}
.login-left .mb-3 .form-label
{
    font-size: 16px;
    font-weight: bold;
}
.login-left .mb-3 .form-control
{
    width: 100%;
    height: 45px;
}
.login-logo
{
    display: none;
}
.login-btn
{
    width: 90%;
    font-size: 18px;
    font-weight: bold;
    background-color: #96D73A;
    border: 1px solid #96D73A;
}
.login-bottom
{
    padding-top: 20px;
}
.login-bottom>a
{
    font-size: 12px;
    font-weight: bold;
}
.login-bottom>a:first-child
{
    padding-right: 20px;
}
.content-search .search-logo
{
    display: none;
}
.content-mnav
{
    display: none;
}
.main-step
{
    display: none;
}
.main-agree .title, .main-agree .tab
{
    display: none;
}
.main-agree .form_list
{
    list-style: none;
    padding: 15px;
}
.main-agree .form_list li input[name=userId]
{
    height: 45px;
    margin-bottom: 15px; 
}
.main-agree .form_list li input[name=newPw]
{
    height: 45px;
}
.main-agree .form_list li input[name=newPw2]
{
    height: 45px;
    margin: 15px 0; 
}
.main-agree .form_list li input[name=emailId]
{
    width: 40% !important;
    height: 45px;
    display: inline;
}
.main-agree .form_list li input[name=emailDomain]
{
    width: 45% !important;
    height: 45px;
    display: inline;
}
.main-agree .form_list li select[name=emailDomains]
{
    height: 45px;
    margin: 15px 0;
}
.main-agree .form_list li input[name=companyName]
{
    height: 45px;
    margin: 15px 0;
}
/* join-terms */
.join-terms
{
    width: 95%;
    margin: 10px auto;
    list-style: none;
}
.join-terms li
{
    height: 250px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}
.join-terms li h2
{
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
}
.join-terms li .terms-content
{
    height: 70%;
    overflow: scroll;
}
.join-terms li .terms-content .terms-text
{
    padding: 20px 15px;
}
.join-terms li .terms-content .terms-text h2
{
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    border-bottom: unset;
}
.join-terms li .terms-content .terms-text p
{
    font-size: 11px;
    color: #808080;
}
.join-terms li .terms-check
{
    padding: 15px 0 0 15px;
    z-index: 100;
}
.join-terms li .terms-check .cklabel
{
    font-size: 16px;
    display: inline-block;
    position: relative;
    color: #5f5f5f;
    line-height: 24px;
    cursor: pointer;
}
.join-terms li .terms-check .cklabel.on i
{
    color: #FF6C00;
}
.join-terms li .terms-check .cklabel i
{
    left: auto;
    right: 0;
    vertical-align: top;
    position: unset;
    top: 50%;
    width: 18px;
    height: 18px;
    color: #999;
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: -12px;
}
.join-terms li .terms-check .ckbox
{
    display: none;
}
.agree-btn-wrap
{
    text-align: center;
    padding-top: 20px;
}
.agree-btn-wrap a
{
    display: inline-block;
    width: 90%;
    height: 43px;
    margin: 15px auto;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    line-height: 43px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #FF6C00;
    text-decoration: none;
}
.agree-btn-wrap h2
{
    font-size: 14px;
}
/* join-form */
.join-wrap
{
    width: 90%;
    margin: 0 auto;
}
.join-wrap .title
{
    display: none;
}
.join-wrap .sub-title
{
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
.important
{
    font-size: 11px;
    color: #d61213;
}
.userInfo-wrap
{
    background-color: #FFFFFF;
    border: 1px solid #AEAEAE;
}
.userInfo-wrap .info-table
{
    display: none;
    font-size: 11px;
}
.userInfo-wrap .info-table.mobile
{
    display: block;
}
.userInfo-wrap .info-table.mobile tr
{
    border-bottom: 1px solid #D0C7B6;
}
.userInfo-wrap .info-table.mobile tr:last-child
{
    border-bottom: 0;
}
.userInfo-wrap .info-table.mobile tr th
{
    padding: 10px;
    background: #f2f2f2;
}
.userInfo-wrap .info-table.mobile tr td
{
    font-size: 0;
    background: #fff;
    padding: 2%;
}
.userInfo-wrap .info-table.mobile input
{
    font-size: 11px;
}
.userInfo-wrap .info-table.mobile input[name=userId]
{
    float: left;
    width: 65%;
}
.userInfo-wrap .info-table.mobile .idCheck, .userInfo-wrap .info-table.mobile .comNumCheck
{
    display: inline-block;
    width: 33%;
    margin-left: 2%;
    padding: 0;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    color: #FFF;
    background: #FF6C00;
}
.userInfo-wrap .info-table.mobile .emailCheck, .userInfo-wrap .info-table.mobile .addrBtn, .joinBtnWrap .setUser, .joinBtnWrap .changeUser
{
    width: 100%;
    margin-top: 10px;
    padding: 0;
    line-height: 28px;
    text-align: center;
    color: #FFF;
    background-color: #FF6C00;
}
.joinBtnWrap .setUser, .joinBtnWrap .changeUser
{
    background-color: #87B14B;
}
.userInfo-wrap .info-table.mobile td .email
{
    display: inline-block;
    width: 27%;
    margin: 0 1%;
    padding: .4em;
    font-size: 11px;
}
.info-table.mobile td .domainSelectWrap
{
    display: inline-block;
    width: 36%;
}
.info-table.mobile td .domainSelectWrap select
{
    width: 100%;
    padding: .375rem 0;
    font-size: 11px;
}
.info-table.mobile input[name=comNumber]
{
    float: left;
    width: 65%;
}
.info-table.mobile td .post
{
    display: inline-block;
    width: 30%;
}
.info-table.mobile td .addr
{
    display: inline-block;
    width: 69%;
    margin-left: 1%;
}
.joinBtnWrap
{
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #666;
}
.paging-box.ship
{
    height: 300px;
    padding: 50px;
}
.btn_board_center
{
    text-align: center;
}
.btn_yellow
{
    display: inline-block;
    height: 45px;
    padding: 0 28px;
    border: none;
    color: #fff;
    font-size: 14px;
    line-height: 43px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    background: #FF6C00;
}
.btn_gray
{
    display: inline-block;
    height: 45px;
    padding: 0 28px;
    background: #92979b;
    color: #fff;
    font-size: 14px;
    line-height: 43px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}
.btn_yellow:hover, .btn_gray:hover
{
    color:#fff;
}
/* PC */
@media screen and (min-width: 767px) {
    /* nav-top */
    .nav-top
    {
        display: block;
        position: relative;
        min-width: 1200px;
        border-bottom: 1px solid #C3C3C3;
        background-color: #ECECEC;
    }
    .nav-top-mobile, .nav-title-mobile
    {
        display: none !important;
    }
    .nav-wrap
    {
        width: 1200px;
        height: 44px;
        margin: 0 auto;
        line-height: 44px;
        text-align: left;
    }
    .nav-title
    {
        display: block;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #C3C3C3;
        border-right: 1px solid #C3C3C3;
        background-color: #fff;
        padding: 0 5px;
        float: left;
        color: #000;
        font-size: 12px;
        font-weight: bold;
    }
    .nav-title:hover
    {
        cursor: pointer;
    }
    .nav-logout, .nav-login, .nav-admin
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav-logout a, .nav-login a, .nav-admin a
    {
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
        padding-right: 4px;
    }
    .nav-logout a::before, .nav-login a::before, .nav-admin a::before
    {
        content: "\2223";
        padding-right: 7px;
        font-weight: lighter;
        padding-bottom: 5px;
    }
    .nav-logout a:first-child::before, .nav-login a:first-child::before, .nav-admin a:first-child::before
    {
        content: "";
    }
    .nav-logout a:last-child, .nav-login a:last-child, .nav-admin a:last-child
    {
        padding-right: 7px;
    }
    .nav-logout a:hover, .nav-login a:hover, .nav-admin a:hover
    {
        cursor: pointer;
    }
    .notice-cnt, .join-cnt, .orders-cnt
    {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: -2px 0 0 6px;
        border-radius: 100%;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
        background-color: #FF6C00 !important;
    }
    /* content-login */
    .content-login, .content-join
    {
        width: 100%;
        height: calc(100vh - 45px);
        background-color: #fff;
        padding-bottom: 15px !important;
        position: relative;
    }
    .form-login
    {
        width: 800px;
        height: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -225px 0 0 -400px;
        border-top: 3px solid #303030;
        border-bottom: 2px solid #B2B2B2;
    }
    .login-center
    {
        width: 100%;
        height: 100%;
    }
    .login-left
    {
        padding-left: 20px !important;
    }
    .login-right
    {
        display: block;
    }
    .login-bannar
    {
        height: 450px;
    }
    .login-logo
    {
        width: 380px;
        height: 76px;
        display: block;
    }
    .login-text h2
    {
        font-size: 24px;
        color: #87B14A;
        text-align: left;
        padding: 10px 0 5px 0;
    }
    .login-text p
    { 
        margin: 0;
        font-size: 14px;
        color: #9E9E9E;
        text-align: left;
    }
    .login-left .form-control
    {
        width: 220px;
        height: 25px;
        line-height: 25px;
    }
    /* content-join */
    .content-search
    {
        min-width: 1200px;
        background-color: #fff;
        padding-bottom: 15px;
        box-sizing: unset;
    }
    .search-logo
    {
        display: block !important;
        width: 380px;
        background-color: #fff;
        padding: 10px 0;
        margin: 0 auto;
    }
    .search-input
    {
        width: 1050px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .search-address, .search-product
    {
        border: 3px solid #87B14B;
        color: #8e8e8e;
    }
    .search-btn
    {
        background: #87B14A;
        border: 3px solid #87B14B;
        color: #fff;
    }
    .search-btn:hover
    {
        background: #FF6C00;
        border-color: #FF6C00;
    }
    .content-mnav
    {
        display: block !important;
        position: relative;
        min-width: 1200px;
        background: #87B14B;   
    }
    .mnav-menu
    {
        width: 1200px;
        margin: 0 auto;
        line-height: 46px;
        text-align: center;
    }
    .mnav-menu .list>a
    {
        padding-right: 24px;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }
    .mnav-menu .list>a:hover
    {
        cursor: pointer;
        color: #ccc;
    }
    .mnav-menu .list
    {
        display: inline-block;
        vertical-align: middle;
    }
    .mnav-menu .search
    {
        position: relative;
        display: inline-block;
        margin-top: -2px;
    }
    .mnav-menu .search>input
    {
        border-radius: 15px;
        border: none;
        outline: none;
        padding: 0 23px 0 10px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }
    .mnav-menu .search>i
    {
        position: absolute;
        top: -2px;
        right: 5px;
        font-weight: bold;
    }
    .mnav-menu .search>i:hover
    {
        cursor: pointer;
    }
    /* content-wrap */
    .content-wrap
    {
        background: #F7F7F7;
    }
    .content-main
    {
        position: relative;
        margin: 0 auto;
        width: 1200px;
        background: #F7F7F7;
    }
    /* main-step */
    .main-step
    {
        display: block !important;
    }
    .main-step ul
    {
        font-size: 0;
        padding: 50px 80px 0 80px;
        margin-bottom: 0;
        list-style: none;
    }
    .main-step ul li
    {
        position: relative;
        display: inline-block;
        width: 33.33%;
        padding: 20px 0;
        color: #777777;
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        text-align: center;
    }
    .main-step ul li.on
    {
        background: #fff;
        color: #FF6C00;
    }
    .main-step ul li:first-child
    {
        border-left: 1px solid #dadada;
    }
    .main-step ul li:last-child
    {
        border-right: 1px solid #dadada;
    }
    .main-step ul li div
    {
        display: inline-block;
        font-size: 18px;
        vertical-align: middle;
    }
    .main-step ul li.on .next
    {
        background: #fff;
    }
    .main-step ul li .icon
    {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        line-height: 43px;
        margin-right: 10px;
        background-color: #fff;
    }
    .main-step ul li .icon span
    {
        font-size: 30px;
    }
    .main-step ul li .next
    {
        position: absolute;
        right: -25px;
        top: 50%;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        line-height: 43px;
        border-radius: 100%;
        font-size: 30px;
    }
    /* main-agree */
    .main-agree
    {
        width: 800px;
        padding-top: 70px;
        margin: 0 auto;
        text-align: left;
    }
    .main-agree .title
    {
        display: block !important;
        height: 84px;
        padding-bottom: 21px;
        border-bottom: 5px solid #2e2e2e;
        font-size: 30px;
        line-height: 81px;
        margin-bottom: 0;
        box-sizing: unset;
    }
    .main-agree .title i
    {
        font-size: 32px;
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-top: -2px;
        border-radius: 100%;
        color: #fff;
        line-height: 70px;
        text-align: center;
        vertical-align: middle;
        background: #FF6C00;
    }
    .join-terms
    {
        overflow: hidden;
        width: 100%;
        
        margin-bottom: 0;
    }
    .join-terms li
    {
        overflow: hidden;
        height: unset;
        padding: 20px;
        border: 1px solid #dcdcdc;
        border-radius: 0;
        border-top-width: 0;
    }
    .join-terms li h2
    {
        font-size: 16px;
        padding: 0 0 15px 0;
        font-weight: bold;
        margin: 0;
    }
    .join-terms li p
    {
        font-size: 14px;
        line-height: 18px;
        margin-top: 20px;
    }
    .join-terms li .terms-content
    {
        float: left;
        width: 100%;
        height: 200px;
        border: 1px solid #ccc;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .join-terms li .terms-content .terms-text
    {
        margin: 20px 0;
        padding: 30px 7%;
        background: #fff;
        font-size: 14px;
    }
    .join-terms li .terms-content .terms-text h2
    {
        margin-top: 50px;
    }
    .join-terms li .terms-check
    {
        text-align: right;
    }
    .join-terms li .terms-check .cklabel
    {
        padding-left: 0;
        padding-right: 28px;
        margin-top: 10px;
        font-size: 18px;
    }
    .join-terms li .terms-check .cklabel i
    {
        position: absolute;
        font-size: 24px;
    }
    .join-terms li .terms-check input
    {
        position: absolute;
        left: -9999px;
    }
    .join-terms li .terms-check .bi-check-circle
    {
        display: block;
    }
    .agree-btn-wrap
    {
        text-align: right;
        padding-top: 20px;
    }
    .agree-btn-wrap a
    {
        width: 211px;
        height: 60px;
        margin: 0 auto;
        line-height: 58px;
    }
    .agree-btn-wrap h2
    {
        font-size: 18px;
    }
    /* form-join */
    .join-wrap
    {
        text-align: left;
    }
    .join-wrap .title
    {
        display: block;
        padding: 15px 0;
        overflow: hidden;
    }
    .join-wrap .title h3
    {
        float: left;
        font-size: 18px;
    }
    .join-wrap .title .location-nav
    {
        float: right;
        overflow: hidden;
        font-size: 12px;
        color: #808080;
    }
    .join-wrap .sub-title
    {
        margin-bottom: 15px;
        font-size: 15px;
    }
    .important
    {
        font-size: 13px;
    }
    .userInfo-wrap .info-table.mobile
    {
        display: none;
    }
    .userInfo-wrap .info-table
    {
        display: block;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
        text-align: left;
        border-top: 5px solid #87B14B;
        border-right: 0;
        border-left: 0;
        border-bottom: 2px solid #8e8e8e;
    }
    .userInfo-wrap .info-table tr th:first-child
    {
        border-left: 0;
    }
    .userInfo-wrap .info-table tr th
    {
        padding: 10px;
        background: #f2f2f2;
        border: 1px solid #D0C7B6;
    }
    .userInfo-wrap .info-table tr td
    {
        font-size: 0;
        background: #fff;
        border: 1px solid #D0C7B6;
        padding: 10px 20px;
    }
    .userInfo-wrap .info-table tr td *
    {
        font-size: 15px;
    }
    .userInfo-wrap .info-table td a
    {
        display: inline-block;
        width: 23%;
        max-width: 116.94px;
        line-height: 28px;
        text-align: center;
        font-size: 14px;
        color: #FFF;
        background: #87B14B;
        text-decoration: none;
    }
    .userInfo-wrap .info-table input.text
    {
        width: 100%;
        height: 28px;
        line-height: 26px;
        padding: 0 10px;
        border: 1px solid #C4C4C4;
        display: inline-block;
    }
    .userInfo-wrap .info-table td .email, .domainSelectWrap
    {
        display: inline-block;
        width: 21%;
        margin: 0 1%;
        font-size: 11px;
    }
    .userInfo-wrap .info-table input.withBtn
    {
        width: 76%;
        margin-right: 1%;
        height: 28px;
        line-height: 26px;
        padding: 0 10px;
        border: 1px solid #C4C4C4;
        display: unset;
    }
    .userInfo-wrap .info-table .important.txt
    {
        font-size: 12px;
    }
    .select
    {
        height: 28px;
        line-height: 26px;
        width: 100%;
        background-color: #FFF;
        padding: 0 5px;
        border: 1px solid #C4C4C4;
        color: #000;
        text-align: left;
    }
    .post
    {
        width: 10% !important;
        margin-right: 1%;
        background-color: #FFF !important;
    }
    .addr
    {
        width: 74% !important;
        margin-right: 1%;
        display: inline-block;
    }
    .joinBtnWrap a
    {
        display: inline-block;
        margin: 0 6px;
        width: 105px;
        line-height: 40px;
        font-size: 14px;
        color: #FFF;
        background: #999;
        text-decoration: none;
    }
    .joinBtnWrap a:last-child
    {
        background-color: #FF6C00;
    }
    .joinBtnWrap .setUser, .joinBtnWrap .changeUser
    {
        display: inline-block;
        margin: 0 6px;
        width: 105px;
        line-height: 40px;
        font-size: 14px;
        color: #FFF;
        background: #999;
        text-decoration: none;
    }
    /* footer */
    .footer
    {
        border-top: 1px solid #DEDEDE;
        background: #CCDDD3;
    }
    .company-wrap
    {
        min-width: 1200px;
        position: relative;
        background: #FBC355;
    }
    .footer p
    {
        margin-bottom: 0;
        font-size: 12px;
        text-align: center;
        line-height: 22px;
    }
    .copyRight
    {
        margin-top: 30px;
    }
    .tab
    {
        position: relative;
        width: 100%;
        margin-top: 20px;
        overflow: hidden;
        z-index: 10;
    }
    .tab a
    {
        float: left;
        width: 100%;
        height: 60px;
        border: 1px solid #e7e7e7;
        border-left: none;
        background: #92979b;
        color: #fff;
        font-size: 15px;
        line-height: 57px;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        text-decoration: none;
    }
    .find_cont
    {
        margin-top: -1px;
        padding: 28px;
        border: 1px solid #e7e7e7;
        background: #fff;
    }
    .find_cont .form_list
    {
        font-size: 0;
        list-style: none;
        line-height: 0;
    }
    .find_cont .form_list li
    {
        margin: 0;
        margin-top: 5px;
        list-style: none;
        padding: 0;
    }
    .find_cont .form_list li input.form-control
    {
        height: 55px;
        line-height: 50px;
        padding: 0 10px;
        margin: 0;
        border: 1px solid #c4c4c4;
        font-size: 15px;
    }
    .find_cont .form_list li input[name=emailId]
    {
        display: inline-block;
    }
    .find_cont .form_list li input[name=emailDomain]
    {
        display: inline-block;
        width: 130px;
    }
    .find_cont .form_list li select
    {
        display: inline-block;
        position: relative;
        width: 203px;
        height: 55px;
        margin-top: -13px;
        margin-left: 5px;
        font-size: 15px;
        color: #212529;
    }
    .mgt20
    {
        margin-top: 20px !important;
    }
}